/* For everything */
* {
    font-family: "Verdana";
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/* General */

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    text-align: left;
    font-size: 144px;
    margin-top: 0px;
    margin-bottom: 90px;
}

h2 {
    color: white;
    font-size: 108px;
    column-span: all;
    text-align: left;
    margin-bottom: 90px;
}

h3 {
    font-size: 3vh;
    column-span: all;
}

span {
    color: black;
    display: inline-block;
    padding-left: 2vw;
    font-size: 2.5vh;
}

p {
    color: white;
    text-align: left;
    font-size: 48px;
}

td {
    color: black;
    font-size: 2.5vh;
}

a {
    position: relative;
    color: white;
}

a:hover {
    color:rgb(194, 117, 194);
}

svg {
    width: 100%;
    height: 100%;
}

/* Diagram */

#diagram {
    position: fixed;
    z-index: 2;
}

#triangulation {
    stroke: black;
    fill: none;
    display: none;
}

#tesselation {
    stroke: black;
    fill: none;
}

.delaunay {
    stroke: black;
}
.voronoi {
    stroke: black;
}

/* Center */

.center {
    position: fixed;
    left: 16.5%;
    top: 12.5%;
    width: 67%;
    height: 75%;
    z-index: 3;
}

polygon.center {
    stroke: rgb(53, 53, 53);
    fill: rgb(53, 53, 53);
    z-index: 3;
}

.content {
    position: fixed;
    top: 15%;
    height: 50%;
    left: 20%;
    width: 50%;
    z-index: 4;
    display: none;
}

.hud {
    position: fixed;
    z-index: 10;
}

#button-div {
    position: relative;
    float: right;
    height: 90%;
    width: 100px;
}

.button {
    display: block;
    width: 100px;
    height: 100px;
    right: 30px;
    margin-top: 20px;
    
    font-size: 24px;
    text-align: center;
    text-decoration: none;

    transition-duration: 1s;

    background-size: contain;
    background-repeat: no-repeat;
}

.button:hover {
    transition-duration: 1s;
}


#GitHub {
    margin-top: 28px;
    background-image: url("./pics/GitHub.png");
}

#GitHub:hover {
    background-image: url("./pics/GitHub_hover.png");
}

#LinkedIn {
    background-image: url("./pics/LinkedIn.jpg");
}

#LinkedIn:hover {
    background-image: url("./pics/LinkedIn_hover.jpg");
}

#Email {
    background-image: url("./pics/Email.png");
}

#Email:hover {
    background-image: url("./pics/Email_hover.png");
}

.button-bordered {
    height: 6vh;
    padding: 2vh 1.5vw;
    border: .5vh solid black;
    border-radius: 1vh;
}

#button-top {
    height: 10vh;
    width: 1.5vw;
    padding: 0px 0px;
}

.button-active {
    background-color: #aaaaaa;
}

#nav {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    right: 30px;
    text-align: right;
}

.navlink {
    color: white;
    display: inline;
    margin-left: 60px;
    margin-right: 30px;
    bottom: 30px;
    font-size: 60px;
    text-decoration: none;
}

.navlink:hover {
    color:rgb(83, 83, 255);
    transition-duration: 1s;
}

/* Content divs */

.portfolio-link {
    color: rgb(255, 255, 115);
    font-weight: bold;
}

.portfolio-link:hover {
    color: rgb(83, 83, 255);
    transition-duration: .4s;
}

#initial {
    height: 200%;
}

.container {
    z-index: 0;
    height: 100%;
}

.content {
    display: block;
    height: 66%;
    object-fit: contain;
    contain: strict;
}

img {
    display: block;
    object-fit: contain;
}

.transition {
    height: 25%;
}

.container#initial-container {
    background-color: white;
}

.transition#initial-about {
    background: linear-gradient(white, rgb(83, 83, 255));
}

.container#about-container {
    background-color: rgb(83, 83, 255);
}

.transition#about-gdvp {
    background: linear-gradient(rgb(83, 83, 255), purple);
}

.container#gdvp-container {
    background: linear-gradient(purple, purple, rgb(194, 117, 194));
}

.transition#gdvp-kelp {
    background: linear-gradient(rgb(194, 117, 194), green);
}

.container#kelp-container {
    background-color: green;
}