/* For everything */
* {
    font-family: "Verdana";
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/* General */

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 12vh;
}

h2 {
    font-size: 5vh;
    column-span: all;
}

h3 {
    font-size: 3vh;
    column-span: all;
}

span {
    color: black;
    display: inline-block;
    padding-left: 2vw;
    font-size: 2.5vh;
}

td {
    color: black;
    font-size: 2.5vh;
}

a {
    position: relative;
}

/* Homepage initial view */

.home {
    color:black;
    font-variant: small-caps;
}

#joel {
    font-size: 15vh;
}

.main-image {
    background-image: url("./pics/topomap.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

#main-gradient {
    background-image: radial-gradient(rgba(255, 255, 255, .75) 50%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    overflow: hidden;
}

/* Homepage header */

#sticky-header {
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    height: 10vh;
    overflow: hidden;
}

#main-left {
    float: left;
}

#main-right {
    float: right;
}

.button {
    background-color: white;
    color: black;
    font-size: 4vh;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:#DBDBDB;
}

.button-main {
    float: left;
    padding: 2.5vh 1.5vw 3.5vh;
}

.button-social {
    float: right;
    height: 6vh;
    width: 6vh;
    margin-right: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2vh;
    transition-duration: 0.4s;
}

#button-GitHub {
    background-image: url("./pics/GitHub.png");
}

#button-GitHub:hover {
    background-image: url("./pics/GitHub_gray.png");
}

#button-LinkedIn {
    background-image: url("./pics/LinkedIn.jpg");
}

#button-LinkedIn:hover {
    background-image: url("./pics/LinkedIn_gray.jpg");
}

#button-Instagram {
    background-image: url("./pics/Instagram.png");
}

#button-Instagram:hover {
    background-image: url("./pics/Instagram_gray.png");
}

#button-hire {
    float: right;
    margin-right: 1.5vw;
    padding-bottom: 1vh;
}

.button-bordered {
    height: 6vh;
    padding: 2vh 1.5vw;
    border: .5vh solid black;
    border-radius: 1vh;
}

#button-top {
    height: 10vh;
    width: 1.5vw;
    padding: 0px 0px;
}

.button-active {
    background-color: #aaaaaa;
}

/* Body */

.content {
    margin: 0px;
    background-image: url("./pics/topomap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.content a {
    color: black;
    font-weight: bold;
    transition-duration: 0.2s;
}

.content a:hover {
    color: #584800;
}
  
.sticky + .content {
    margin-top: 10vh;
}

#wg-gradient {
    background-image: linear-gradient(#ffffff, #e1f1c4);
    height: 80vh;
    width: 46vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    float: left;
}

.info {
    width: 46vw;
    background-color: #e1f1c4;
    float: left;
    padding: 5vh 2.5vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
    overflow: auto;
}

#Skills table {
    width: 100%;
}

.skillName {
    text-indent: 3vw;
}

.skillImg img {
    margin-top: 1vh;
    margin-left: 3.2vw;
    margin-bottom: 3vh;
}

.skill_1 img {
    height: 12vh;
}

.skill_2 img {  
    height: 10vh;
}

.skill_3 img {
    height: 8vh;
}

.skillImg:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}

#ga-gradient {
    height: 30vh;
    width: 46vw;
    background-image:linear-gradient(#e1f1c4, rgb(0, 0, 0, 0));
    float: left;
    padding: 5vh 2.5vw;
    padding-top: 10vh;
}

/* Portfolio */

#Portfolio {
    height: 0vh;
    width: 80vw;
    padding: 0 10vw;
    float: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 20vw;
    height: 27vw;
    background-color: "rgb(0, 0, 0, 0)";
    color: black;
    border: 1.5vh solid black;
    contain: strict;
    transition: .5s;
}

.card:hover {
    border: 1.5vh solid white;
}

#card-text-container {
    display: none;
    height: 100%;
    width: 100%;
    padding-left: .5vw;
    contain: strict;
    overflow-y: auto;
}

.card h2, p {
    padding-left: 1vw;
    padding-right: 2vw;
    text-align: center;
}

.card {
    font-size: 2.7vh;
}

.card-img {
    width: 20vw;
    height: 27vw;
    object-fit: cover;
}

/* Popup styling */

.popup-container {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: left;
    contain: strict;
}

.barrier {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
}

.barrier:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.popup-main {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    animation-name: zoom;
    animation-duration: 0.8s;
}

.map-img {
    display: block;
    z-index: 2;
    margin: 0 auto;
} 

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#contact-popup {
    position: fixed;
    display: block;
    height: 98vh;
    width: 70vw;
    margin-left: 15vw;
    border: 1vh solid black;
    border-radius: 1vh;
    contain: strict;
    overflow: hidden;
    z-index: 4;

    background-image: url("./pics/prof-pic.JPG");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#email {
    display: block;
    height: 8vh;
    margin-top: 64vh;
    background-color: white;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 0;
    z-index: 5;
    contain: strict;
}
.popup-text {
    background-color: #e1f1c4;
    word-wrap: normal;
    overflow-y: auto;
    contain: strict;
    height: 10vh;
}

.popup-text h2, h3 {
    padding: 0 2vh;
    text-align: left;
}

#exp-main {
    background-color: white;
    height: 100vh;
    width: 70vw;
    margin-left: 15vw;
    z-index: 4;
}

#exp-main h3 {
    font-weight: normal;
}

/* Interactive map page */

.header {
    background: white;
    width: 100vw;
}

#button-back {
    margin-left: 1.5vw;
    float: left;
    text-align: center;
}

.gdvp-header {
    position: relative;
}

#gdvp-explanation {
    float: left;
    margin-right: 1.5vw;
}

#gdvp-info {
    display: inline-block;
    text-align: center;
    height: 9vh;
    border: .5vh solid black;
    border-radius: 1vh;
    z-index: 1;
    position: absolute;
    contain: strict;
}

#gdvp-info h4 {
    margin: 2.5vh;
    font-size: 3vh;
}

#gdvp-info h3 {
    margin: 2vh;
    font-size: 4vh;
    text-align: center;
}

#button-tooltip {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    float: right;
}

.body-container {
    height: 90vh;
    width: 100vw;
}

/* GDVP Map */

#gdvp-map {
    width: 100vw;
    height: 90vh;
    contain: strict;
    float: left;
}

.leaflet-control {
    padding-left: 1vh;
}

.control-container {
    background-color: white;
    opacity: 0.9;
    height: max-content;
    width: max-content;
    overflow: auto;
    border: 2px solid black;
    border-radius: 1vh;
}

#legend-title {
    margin: 1vh 1vh 1vh 0;
    font-size: 3vh;
    font-weight: bold;
}

#legend-bar {
    height: 10vh;
    width: 5vh;
    margin: 1.5vh 1.5vh;
    float: left;
    border: 1px solid black;
}

.legend-key {
    font-size: 2vh;
    position: absolute;
    padding-left: 7.5vh;
}

#key-top {
    padding-top: 0.5vh;
}

#key-bottom {
    padding-top: 9.5vh;
}

.leaflet-control-scale-line {
    height: 3vh;
    border: 1px solid black;
}

/* Tooltip */

.button-gdvp {
    font-size: 3vh;
}

#tooltip {
    display: none;
    width: 0;
    height: 90vh;
    float: right;
    background-color: white;
    overflow: auto;
}

.option {
    margin: 6vh 3vh 0;
}

.tool-container {
    display: none;
    height: 200px;
    margin: 0 3vh;
    contain: strict;
    overflow: auto;
    border: 1px solid black;
}

#button-state {
    display: none;
    width: max-content;
    margin: 15px 30px 0 0;
    padding: 12px 12px;
    text-align: left;
    font-size: 18px;
}

#button-state:hover {
    background-color: #dbdbdb;
}

.checkbox {
    -webkit-appearance: none;
    background-color: #ffffff;
    height: 24px;
    width: 24px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    transition-duration: 1s;
}

.circle {
    border-radius: 12px;
}

.checkbox:hover {
    border: 2px solid black;
}

.checkbox:checked {
    background-color: #aaaaaa;
}

.check-text {
    margin-top: 3px;
    padding-left: 10px;
    font-size: 18px;
    display: inline-block;
    position: absolute;
}

#field-container {
    margin-top: 30px;
}

#field-container h3 {
    margin: 5px 5px;
    font-size: 30px;
}

.tool-container li {
    list-style-type: none;
    white-space: nowrap;
}

.tool-container li:hover {
    background-color: #DBDBDB;
}

.button-field {
    padding: 10px 10px;
    position: relative;
}